<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.accurascandemo">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AccuraDemoApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:fullBackupContent">
        <activity
            android:name=".PreviewScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name="com.hybridbasicapp.com.accurascan.demo.ZoomBasicActivity" -->
        <!-- android:configChanges="orientation|keyboardHidden" /> -->
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FaceMatchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanNowPassportImageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ScanResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.docrecog.scan.CameraActivity" />
        <activity
            android:name="com.docrecog.scan.ResultActivity"
            android:label="@string/card_details"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BarcodeCameraActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="b5667f5f15607959e9c96e67ec1626621fe685ed" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".PanAadharResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactUsActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentSupportedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BarcodeResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DisplayAllDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CameraPanAddhaarActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".ContactUsWebActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

    </application>

</manifest>